/* FOOTER */
footer{
	padding: 100px;
	margin-top: 100px;
}

.grid-footer{
	background-color: #f7ecee;
	display: grid;
	grid-template-columns: auto auto auto;
}
.footer-top-l{
	background-color:#e2c3c6;
	grid-column: 1/3;
	margin: 0px;
	padding: 10px;
	padding-top: 20pxs;

}
.footer-top-r{
	background-color:#e2c3c6;
	grid-column: 3;
	padding: 10px;

}

.footer-mid-1{
	margin-top: 20px;
	list-style: none;
	grid-row: 2;
	grid-column: 1;
	
}

.footer-mid-2{
	margin-top: 20px;
	list-style: none;
	margin-left: 45px;
}
.footer-mid-3{
	margin-top: 20px;
	list-style: none;
	text-decoration: none;
	color: black;
	margin-left: 45px;



}
.footer-bottom{
	grid-column: 1/4;
	text-align: center;
	margin: 0px auto;
	color: black;
	margin-top: 35px;
	margin-bottom: 0;

}

.redes{
	height: 30px;
	width: 30px;
	margin: 5px;
	padding: 9px;
}

hr{
	height: 3px;
	background-color: #855e6e;

}
#decoracion{
	color: black;
	text-decoration: none;
}

.item:hover{
	color:whitesmoke;
}

h1,h2,h3,h4,h5,h6{
	color: black;
}