@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
	margin: 0;
	padding: 0;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}
section{
	margin-left: 20px;
	margin-right: 20px;
}
footer{
    margin-top: auto;
}

h1{
	color: rgb(23, 23, 23);
}

h2,h3,h4,h5,h6{
	color: darkslategray;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.16);
	margin-top: 20px;
	margin-bottom: 5px;
}